.dot {
    height: 25px;
    width: 25px;
    background-color: rgb(74, 132, 218);
    border-radius: 50%;
    display: inline-block;
}



.nav-dots {
	width: 100%;
	bottom: 40px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}
