<!DOCTYPE html>
  <html>
    <head>
      <meta charset='utf-8'>
      <title>Elukoha registreerimisvorm</title>
      <script src=""></script>
    </head>
    <body>
      <div id="navigation">
      <div v-if "tabNr==1">
        <h2>1. Esitaja</h2>
        <input type="text" v-model="newEsitajaEesNimi" placeholder="eesnimi"></br>
        <input type="text" v-model="newEsitajaPereNimi" placeholder="perekonnanimi"></br>
        <input type="text" v-model="newEsitajaID" placeholder="isikukood"></br>
        <input type="text" v-model="newEsitajaEmail" placeholder="e-post">
        <input type="text" v-model="newEsitajaTelefon" placeholder="telefon"></br>
        <input type="submit" value="Järgmine" v-on:click="goNextPage"/>
        </div>
      <div v-if "tabNr==2">
        <h2>2. Uue elukoha aadress</h2>
        <input type="text" v-model="newRiik" placeholder="riik"></br>
        <input type="text" v-model="newMaakond" placeholder="maakond"></br>
        <input type="text" v-model="newAsula" placeholder="vald/linn, alevik, küla"></br>
        <input type="text" v-model="newMajaNr" placeholder="tänav/talu, maja nr, korteri nr"></br>
        <input type="text" v-model="newPostiIndeks" placeholder="postiindeks"></br>
        <input type="submit" value="Järgmine" v-on:click="goNextPage"/>
        </div>
      <div v-if "tabNr==3">
        <h2>3. Teised isikud, kelle elukoha aadressi muudetakse</h2>
        <input type="submit" value="Järgmine" v-on:click="goNextPage"/>
        </div>
      <div v-if "tabNr==4">
        <h2>4. Alaealise lapse (laste) teise hooldusõiguslike vanema nõusolek</h2>
        <input type="submit" value="Järgmine" v-on:click="goNextPage"/>
        </div>
      <div v-if "tabNr==5">
        <h2>5. Ruumi kasutamise õigus</h2>
        <input type="submit" value="Järgmine" v-on:click="goNextPage"/>
        </div>
      <div v-if "tabNr==6">
        <h2>6. Ruumi omaniku nõusolek</h2>
        <input type="submit" value="Järgmine" v-on:click="goNextPage"/>
        </div>
      <div v-if "tabNr==7">
        <h2>7. Sideaadress</h2>
        <input type="submit" value="Järgmine" v-on:click="goNextPage"/>
        </div>
      <div v-if "tabNr==8">
        <h2>8. Lisatavad dokumendid</h2>
        <input type="submit" value="Järgmine" v-on:click="goNextPage"/>
        </div>
      </div>
    <script>
    </script>
  </body>  
  </html>    
