<!DOCTYPE html>
  <html>
    <head>
      <meta charset='utf-8'>
      <title>Elukoha registreerimisvorm</title>
      <script src="vue.js"></script>
      <link rel="stylesheet" href="css/skeleton.css"/>
    </head>
    <body>
      <div id="navigation">
          <a href="#" v-on:click="goTab(1)">1.</a>
          <a href="#" v-on:click="goTab(2)">2.</a>
          <a href="#" v-on:click="goTab(3)">3.</a>
          <a href="#" v-on:click="goTab(4)">4.</a>
          <a href="#" v-on:click="goTab(5)">5.</a>
          <a href="#" v-on:click="goTab(6)">6.</a>
          <a href="#" v-on:click="goTab(7)">7.</a>
          <a href="#" v-on:click="goTab(8)">8.</a>

        <div v-if="tabNr==1">
          <h2>1. Esitaja</h2>
          <input type="text" v-model="newEsitajaEesNimi" placeholder="eesnimi"></br>
          <input type="text" v-model="newEsitajaPereNimi" placeholder="perekonnanimi"></br>
          <input type="text" v-model="newEsitajaID" placeholder="isikukood"></br>
          <input type="text" v-model="newEsitajaEmail" placeholder="e-post"></br>
          <input type="text" v-model="newEsitajaTelefon" placeholder="telefon"></br>
          <input type="submit" value="Edasi" v-on:click="goTab(2)"/>
        </div>

        <div v-if="tabNr==2">
          <h2>2. Uue elukoha aadress</h2>
          <input type="text" v-model="newRiik" placeholder="riik"></br>
          <input type="text" v-model="newMaakond" placeholder="maakond"></br>
          <input type="text" v-model="newAsula" placeholder="vald/linn, alevik, küla"></br>
          <input type="text" v-model="newMajaNr" placeholder="tänav/talu, maja nr, korteri nr"></br>
          <input type="text" v-model="newPostiIndeks" placeholder="postiindeks"></br>
          <input type="submit" value="Edasi" v-on:click="goTab(3)"/>
        </div>

        <div v-if="tabNr==3">
          <h2>3. Teised isikud, kelle elukoha aadressi muudetakse</h2>
          <input type="text" v-model="newIsik1EesNimi" placeholder="eesnimi">
          <input type="text" v-model="newIsik1PereNimi" placeholder="perekonnanimi">
          <input type="text" v-model="newIsik1ID" placeholder="isikukood"></br>
          Kui esitate elukoha andmed alaealise lapse kohta, jätkake punktis 4, muul juhul punktis 5.</br>
          <input type="submit" value="Edasi" v-on:click="goTab(4)"/>
        </div>

        <div v-if="tabNr==4">
          <h2>4. Alaealise lapse (laste) teise hooldusõigusliku vanema nõusolek</h2>
          <input type="text" v-model="newEestkostjaEesNimi" placeholder="eesnimi">
          <input type="text" v-model="newEestkostjaPereNimi" placeholder="perekonnanimi">
          <input type="text" v-model="newEestkostjaID" placeholder="isikukood"></br>
          <input type="submit" value="Edasi" v-on:click="goTab(5)"/>
        </div>

        <div v-if="tabNr==5">
          <h2>5. Ruumi kasutamise õigus</h2>
          <input type="checkbox" name="ruumiOmanik" value="jah"/>Olen ruumi (kaas)omanik</br>
          <input type="checkbox" name="uuriLeping" value="jah"/>Lisan üürilepingu</br>
          <input type="checkbox" name="omanikuNõusolek" value="jah"/>Ruumi omanik annab nõusoleku</br>
          <input type="submit" value="Edasi" v-on:click="goTab(6)"/>
        </div>

        <div v-if="tabNr==6">
          <h2>6. Ruumi omaniku nõusolek</h2>
          Kinnitan et olen nõus ülalnimetatud isikute elukoha andmete kandmisega rahvastikuregistrisse.</br>
          <input type="text" v-model="newOmanik1EesNimi" placeholder="eesnimi">
          <input type="text" v-model="newOmanik1PereNimi" placeholder="perekonnanimi">
          <input type="text" v-model="newOmanik1ID" placeholder="isikukood"></br>
          <input type="text" v-model="newOmanik2EesNimi" placeholder="eesnimi">
          <input type="text" v-model="newOmanik2PereNimi" placeholder="perekonnanimi">
          <input type="text" v-model="newOmanik2ID" placeholder="isikukood"></br>
          <input type="submit" value="Edasi" v-on:click="goTab(7)"/>
        </div>

        <div v-if="tabNr==7">
          <h2>7. Sideaadress</h2>
          <input type="text" v-model="newRiik2" placeholder="riik"></br>
          <input type="text" v-model="newMaakond2" placeholder="maakond"></br>
          <input type="text" v-model="newAsula2" placeholder="vald/linn, alevik, küla"></br>
          <input type="text" v-model="newMajaNr2" placeholder="tänav/talu, maja nr, korteri nr"></br>
          <input type="text" v-model="newPostiIndeks2" placeholder="postiindeks"></br>
          <input type="text" v-model="newKehtivusAlgus2" placeholder="kehtib alates">
          <input type="text" v-model="newKehtivusLõpp2" placeholder="kehtib kuni"></br>
          <input type="submit" value="Edasi" v-on:click="goTab(8)"/>
        </div>

        <div v-if="tabNr==8">
          <h2>8. Lisatavad dokumendid</h2>
          <input type="text" v-model="newDokumendid" placeholder="loetlege lisatavad dokumendid"></br>
          <input type="submit" value="Informatsiooni ülevaade" v-on:click="compileData"/>
        </div>

        <div v-if="tabNr==9">
          <h2>Andmete ülevaade</h2>
          <ul>
            <h5>Esitaja</h5>
            <li>Eesnimi: {{newEsitajaEesNimi}}</li>
            <li>Perekonnanimi: {{newEsitajaPereNimi}}</li>
            <li>Isikukood: {{newEsitajaID}}</li>
            <li>Email: {{newEsitajaEmail}}</li>
            <li>Telefon: {{newEsitajaTelefon}}</li>
            <li>Uue elukoha aadress:</li>
            <li>Riik: {{newRiik}}</li>
            <li>Maakond: {{newMaakond}}</li>
            <li>Asula: {{newAsula}}</li>
            <li>Maja number: {{newMajaNr}}</li>
            
          </ul>
        </div>
      </div>
    <script>
  var vm = new Vue ({
  el: "#navigation",
  data: {
    tabNr: 1,
    items: [
    ],
    newEsitajaEesNimi: "",
    newEsitajaPereNimi: "",
    newEsitajaID: "",
    newEsitajaEmail: "",
    newEsitajaTelefon: "",
    newRiik: "",
    newMaakond: "",
    newAsula: "",
    newMajaNr: "",
    newPostiIndeks: "",
    newIsik1EesNimi: "",
    newIsik1PereNimi: "",
    newIsik1ID: "",
    newEestkostjaEesNimi: "",
    newEestkostjaPereNimi: "",
    newEestkostjaID: "",
    ruumiOmanik: "",
    uuriLeping: "",
    omanikuNõusolek: "",
    newOmanik1EesNimi: "",
    newOmanik1PereNimi: "",
    newOmanik1ID: "",
    newOmanik2EesNimi: "",
    newOmanik2PereNimi: "",
    newOmanik2ID: "",
    newRiik2: "",
    newMaakond2: "",
    newAsula2: "",
    newMajaNr2: "",
    newPostiIndeks2: "",
    newKehtivusAlgus2: "",
    newKehtivusLõpp2: "",
    newDokumendid: "",
  },
  methods: {
    goTab: function(a) {this.tabNr = a;},
    compileData: function() {
      this.items.push({esitajaeesnimi: this.newEsitajaEesNimi})
      this.tabNr = 9;
    }
  }
  })
    </script>
  </body>  
</html> 
