<!DOCTYPE html>
  <html>
    <head>
      <meta charset='utf-8'>
      <title>Elukoha registreerimisvorm</title>
      <script src="vue.js"></script>
      <link rel="stylesheet" href="css/skeleton.css"/>
    </head>
    <body>
      <div id="navigation">
          <a href="#" v-on:click="goTab(1)">1.</a>
          <a href="#" v-on:click="goTab(2)">2.</a>
          <a href="#" v-on:click="goTab(3)">3.</a>
          <a href="#" v-on:click="goTab(4)">4.</a>
          <a href="#" v-on:click="goTab(5)">5.</a>
          <a href="#" v-on:click="goTab(6)">6.</a>
          <a href="#" v-on:click="goTab(7)">7.</a>
          <a href="#" v-on:click="goTab(8)">8.</a>

        <div v-if="tabNr==1">
          <h2>1. Esitaja</h2>
          <form @submit="goTab(2)">
          <input type="text" v-model="newEsitajaEesNimi" placeholder="eesnimi" required></br>
          <input type="text" v-model="newEsitajaPereNimi" placeholder="perekonnanimi" required></br>
          <input type="number" v-model="newEsitajaID" placeholder="isikukood" required></br>
          <input type="email" v-model="newEsitajaEmail" placeholder="e-post" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required></br>
          <input type="number" v-model="newEsitajaTelefon" placeholder="telefon" required></br>
          <input type="submit" value="Edasi"/>
        </form>
        </div>

        <div v-if="tabNr==2">
          <h2>2. Uue elukoha aadress</h2>
          <input type="text" v-model="newRiik" placeholder="riik" required></br>
          <input type="text" v-model="newMaakond" placeholder="maakond" required></br>
          <input type="text" v-model="newAsula" placeholder="vald/linn, alevik, küla" required></br>
          <input type="text" v-model="newMajaNr" placeholder="tänav/talu, maja nr, korteri nr" required></br>
          <input type="number" v-model="newPostiIndeks" placeholder="postiindeks" required></br>
          <input type="submit" value="Edasi" v-on:click="goTab(3)"/>
        </div>

        <div v-if="tabNr==3">
          <h2>3. Teised isikud, kelle elukoha aadressi muudetakse</h2>
          <input type="text" v-model="newIsik1EesNimi" placeholder="eesnimi" required>
          <input type="text" v-model="newIsik1PereNimi" placeholder="perekonnanimi" required>
          <input type="number" v-model="newIsik1ID" placeholder="isikukood" required></br>
          Kui esitate elukoha andmed alaealise lapse kohta, jätkake punktis 4, muul juhul punktis 5.</br>
          <input type="submit" value="Edasi" v-on:click="goTab(4)"/>
        </div>

        <div v-if="tabNr==4">
          <h2>4. Alaealise lapse (laste) teise hooldusõigusliku vanema nõusolek</h2>
          <input type="text" v-model="newEestkostjaEesNimi" placeholder="eesnimi" required>
          <input type="text" v-model="newEestkostjaPereNimi" placeholder="perekonnanimi" required>
          <input type="number" v-model="newEestkostjaID" placeholder="isikukood" required></br>
          <input type="submit" value="Edasi" v-on:click="goTab(5)"/>
        </div>

        <div v-if="tabNr==5">
          <h2>5. Ruumi kasutamise õigus</h2>
          <input type="checkbox" name="ruumiOmanik" value="jah"/>Olen ruumi (kaas)omanik</br>
          <input type="checkbox" name="üüriLeping" value="jah"/>Lisan üürilepingu</br>
          <input type="checkbox" name="omanikuNõusolek" value="jah"/>Ruumi omanik annab nõusoleku</br>
          <input type="submit" value="Edasi" v-on:click="goTab(6)"/>
        </div>

        <div v-if="tabNr==6">
          <h2>6. Ruumi omaniku nõusolek</h2>
          Kinnitan et olen nõus ülalnimetatud isikute elukoha andmete kandmisega rahvastikuregistrisse.</br>
          <input type="text" v-model="newOmanik1EesNimi" placeholder="eesnimi" required>
          <input type="text" v-model="newOmanik1PereNimi" placeholder="perekonnanimi" required>
          <input type="number" v-model="newOmanik1ID" placeholder="isikukood" required></br>
          <input type="text" v-model="newOmanik2EesNimi" placeholder="eesnimi" required>
          <input type="text" v-model="newOmanik2PereNimi" placeholder="perekonnanimi" required>
          <input type="number" v-model="newOmanik2ID" placeholder="isikukood" required></br>
          <input type="submit" value="Edasi" v-on:click="goTab(7)"/>
        </div>

        <div v-if="tabNr==7">
          <h2>7. Sideaadress</h2>
          <input type="text" v-model="newRiik2" placeholder="riik" required></br>
          <input type="text" v-model="newMaakond2" placeholder="maakond" required></br>
          <input type="text" v-model="newAsula2" placeholder="vald/linn, alevik, küla" required></br>
          <input type="text" v-model="newMajaNr2" placeholder="tänav/talu, maja nr, korteri nr" required></br>
          <input type="number" v-model="newPostiIndeks2" placeholder="postiindeks" required></br>
          <input type="date" v-model="newKehtivusAlgus" placeholder="kehtib alates" required>
          <input type="date" v-model="newKehtivusLõpp" placeholder="kehtib kuni" required></br>
          <input type="submit" value="Edasi" v-on:click="goTab(8)"/>
        </div>

        <div v-if="tabNr==8">
          <h2>8. Lisatavad dokumendid</h2>
          <input type="text" v-model="newDokumendid" placeholder="loetlege lisatavad dokumendid"></br>
          <input type="submit" value="Informatsiooni ülevaade" v-on:click="compileData"/>
        </div>

        <div v-if="tabNr==9">
          <h2>Andmete ülevaade</h2>
          <ul>
            <h5>Esitaja</h5>
            <li>Eesnimi: {{newEsitajaEesNimi}}</li>
            <li>Perekonnanimi: {{newEsitajaPereNimi}}</li>
            <li>Isikukood: {{newEsitajaID}}</li>
            <li>Email: {{newEsitajaEmail}}</li>
            <li>Telefon: {{newEsitajaTelefon}}</li>
            <hr>
            <h5>Uue elukoha aadress</h5>
            <li>Riik: {{newRiik}}</li>
            <li>Maakond: {{newMaakond}}</li>
            <li>Asula: {{newAsula}}</li>
            <li>Maja number: {{newMajaNr}}</li>
            <li>Postiindeks: {{newPostiIndeks}}</li>
            <hr>
            <h5>Teised isikud, kelle elukohta muudetakse</h5>
            <li>Eesnimi: {{newIsik1EesNimi}}</li>
            <li>Perekonnanimi: {{newIsik1PereNimi}}</li>
            <li>Isikukood: {{newIsik1ID}}</li>
            <hr>
            <h5>Alaealise lapse(laste) teise hooldusõigusliku vanema nõusolek</h5>
            <li>Eesnimi: {{newEestkostjaEesNimi}}</li>
            <li>Perekonnanimi: {{newEestkostjaPereNimi}}</li>
            <li>Isikukood: {{newEestkostjaID}}</li>
            <hr>
            <h5>Ruumi kasutamise õigus</h5>
            <hr>
            <h5>Ruumi omaniku nõusolek</h5>
            <h5>Omanik 1</h5>
            <li>Eesnimi: {{newOmanik1EesNimi}}</li>
            <li>Perekonnanimi: {{newOmanik1PereNimi}}</li>
            <li>Isikukood: {{newOmanik1ID}}</li>
            <h5>Omanik 2</h5>
            <li>Eesnimi: {{newOmanik2EesNimi}}</li>
            <li>Perekonnanimi: {{newOmanik2PereNimi}}</li>
            <li>Isikukood: {{newOmanik2ID}}</li>
            <hr>
            <h5>Sideaadress</h5>
            <li>Riik: {{newRiik2}}</li>
            <li>Maakond: {{newMaakond2}}</li>
            <li>Asula: {{newAsula2}}</li>
            <li>Maja number: {{newMajaNr2}}</li>
            <li>Postiindeks: {{newPostiIndeks2}}</li>
            <li>Kehtivuse algus: {{newKehtivusAlgus}}</li>
            <li>Kehtivuse lõpp: {{newKehtivusLõpp}}</li>
            <hr>
            <h5>Lisatavad dokumendid</h5>
            <li>{{newDokumendid}}</li>
          </ul>
        </div>
      </div>
      <script src="functionality.js"></script>
  </body>  
</html> 
